<ion-menu [content]="paginas">
	<ion-header>
		<ion-toolbar>
			<ion-title>
			Opciones
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		
			<ion-list>
				<button ion-item 
				 (click)="irAPagina(paginaPrincipal)">Página principal</button>
				<button ion-item *ngIf="usuarioConectado"
				(click)="irAPagina(iniciarSesion)">Iniciar sesión</button>
				 <!-- Para efectos de depuracion se debe colocar un ! antes de usuario conectado -->
				<button ion-item *ngIf="usuarioConectado" 
				(click)="irAPagina(mapaPrincipal)">Mapa</button>
				<button ion-item *ngIf="!usuarioConectado"
				(click)="irAPagina(lineas)">Lineas</button>
				<button ion-item *ngIf="!usuarioConectado"
				(click)="cerrarSesion()">Cerrar sesión</button>
			</ion-list>
		
	</ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #paginas></ion-nav>
