page-pagina-inicial {
    .centrado{
		text-align: center;
	}
	.text1{
		font-family: Rockwell;
		font-size:  37px;
		font-style: normal;
	}
	.text2{
		font-family: Candara;
		font-size:  10px;
		font-style: normal;
	}
}
